.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio li {
    border: 8px solid black;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #FAFFFC;
    box-shadow: 0 0 4px black;

    flex: 1 1 45%;
}

.portfolio img {
    width: 100%;
}

.portfolio li:first-child {
    width: 100%;
    flex-basis: 100%;
}

